nav .nav-wrapper form, nav .nav-wrapper form .input-field{
    height: 100%;
}

.container{
    text-align: center;
    margin: auto;
    width: 65%;
    padding: 5px;
}

.forma{
    border: solid black;
    padding: 30px;

}


.page-footer{
    margin-top: 10px;
}



.List, .white-text1 {
    text-align: left;
}

.row{
    text-align: left;
}

#dropdown1{
    margin : 34px;
}

#log{
    border-radius: 50%;
    margin:2px;
}
